# Variáveis de Ambiente

# Porta do servidor
PORT=3000

# URL de conexão com o MongoDB
MONGODB_URI=mongodb://localhost:27017/desafio_pedidos

# Chave secreta para geração de tokens JWT
JWT_SECRET=sua_chave_secreta_aqui
